* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #333333;
}

.landipageContainer {
  display: flex;
}

.promoWrapper {
  width: 80%;
  border: 3px solid palegreen;
}

.promotileContainer {
  width: 25%;
}

.filterContainer {
  width: 20%;
  border: 1px solid palevioletred;
}
